<div class="d-flex">
  <div>
    <% if @book.image.attached? %>
      <%= image_tag @book.image, height: 350 %>
    <% end %>
  </div>
  <div class="ms-5">
    <h2>
      <%= @book.title %>
    </h2>
    <p>
      <strong>Author:</strong>
      <%= @book.author %>
    </p>
    <p>
      <strong>Detail:</strong>
      <%= @book.detail %>
    </p>
    <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-primary" %>
    <%= link_to 'Back', books_path, class: "btn btn-secondary" %>
  </div>
</div>

